/*
* theme palette
*/

// asparagus
$asparagus: hsl(96, 21%, 52%);
$asparagus02: hsla(96, 21%, 52%, 0.2);
$asparagus05: hsla(96, 21%, 52%, 0.5);
$asparagusHover: hsl(96, 21%, 42%);

// blastOfbronze
$blastOffBronze: hsl(12, 31%, 51%);
$blastOffBronze02: hsl(12, 31%, 51%, 0.2);
$blastOffBronze05: hsla(12, 31%, 51%, 0.5);
$blastOffBronzeHover: hsl(12, 31%, 42%);

// svg colors
$oliveThrill: hsl(83, 53%, 37%);
$triassic: hsl(16, 36%, 30%);
$egyptianJaspen: hsl(17, 38%, 35%);
$carolPurr: hsl(84, 51%, 42%);
$youngBud: hsl(84, 49%, 47%);
$cork: hsl(16, 30%, 35%);

// standard colors
$blackTrans02: hsla(0, 0%, 0%, 0.2);
$blackTrans08: hsla(0, 0%, 0%, 0.8);
$blackTrans05: hsla(0, 0%, 0%, 0.5);
